  <div class="row">
  	<div class="admin" style="padding-left: 40px;">
  		<%= link_to "Table Thread", admin_index_path, class: 'btn btn-outline-secondary' %>
  	</div>

  	<div class="table_post" style="padding-left: 40px;">
      <%= link_to "Table Post", table_post_admin_index_path, class: 'btn btn-outline-secondary' %>
  	</div>

  	<div class="table_user" style="padding-left: 40px;">
      <%= link_to "Table User", table_user_admin_index_path, class: 'btn btn-outline-secondary' %>
  	</div>

  	<div class="table_like" style="padding-left: 40px;">
      <%= link_to "Table Like", table_like_admin_index_path, class: 'btn btn-outline-secondary' %>
  	</div>
  </div><br>