<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="thread">
			<h4>Judul Dari thread</h4>
			<div class="meta">
				21 agustus oleh septian
			</div>

			<div class="content">
				Isi dari content
			</div>

			<div class="count">
				10 Obrolan
			</div>

			<div style="clear: both"></div>
		</div>
	</div>
</div>